<app-navbar></app-navbar>
<!-- <h1>Hello {{ curUser.givenName }}</h1> -->
<h2>Team Overview</h2>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Throws</th>
        <th scope="col">Height</th>
        <th scope="col">Age</th>
        <th>Sessions</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let pitcher of pitchers">
        <td>{{pitcher.name}}</td>
        <td>{{pitcher.throws}}</td>
        <td>{{pitcher.height}}</td>
        <td>{{pitcher.age}}</td>
        <td>
          <button class="btn btn-primary" routerLink="/sessions-overview/{{pitcher.id}}">
            Sessions
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
