<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/overview">
      <img src="../../../assets/logo.svg" class="header-img" alt="" />MU
      Pitch+</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a ng-class="getClass('/overview')" class="nav-link" routerLink="/overview" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a ng-class="getClass('/stats')" class="nav-link" href="" routerLink="/stats" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Team Stats</a>
        </li>
        <li class="nav-item" *ngIf="curEmail == 's1049491@monmouth.edu' || curEmail == 's1087717@monmouth.edu' || curEmail == 'rlakshma@monmouth.edu' || curEmail == 'jepstein@monmouth.edu'">
          <a class="nav-link" routerLink="/adminpanel" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Admin Panel<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Hello {{ curUser }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>