h2 {
  text-align: center;
}
.pitcher-dets {
  display: flex;
  //   justify-content: center;
  justify-content: space-around;
  font-size: 20px;
}

table {
  width: 100vw;
  text-align: center;
}

.container {
  max-width: 85vw;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: '';
  display: block;
  background: url('../../../assets/arrow.png') no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
  // margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}