<app-navbar></app-navbar>
<h2>Sessions Overview</h2>
<div class="container">
  <div class="row">
    <div class="pitcher-dets col-md-8">
      <p>{{ currentPitcher.name }}</p>
      <p>{{ currentPitcher.throws }}</p>
      <p>{{ currentPitcher.height }}</p>
      <p>{{ currentPitcher.age }}</p>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#filterModal"
      >
        Filter Data
      </button>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        (click)="resetFilter()"
        *ngIf="isFiltered"
      >
        Reset Filter
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th></th>
          <th colspan="2">4 Seam Fastball</th>
          <th colspan="2">2 Seam Fastball</th>
          <th colspan="2">Changeup</th>
          <th colspan="2">Slider</th>
          <th colspan="2">Curveball</th>
          <th colspan="2">Cut Fastball</th>
        </tr>
        <tr>
          <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
          <th scope="col">Session</th>
          <th scope="col" sortable="4 Seam Fastball,0" (sort)="onSort($event)">
            Max. Velo
          </th>
          <th scope="col" sortable="4 Seam Fastball,1" (sort)="onSort($event)">
            Avg. Velo
          </th>
          <th scope="col" sortable="2 Seam Fastball,0" (sort)="onSort($event)">
            Max. Velo
          </th>
          <th scope="col" sortable="2 Seam Fastball,1" (sort)="onSort($event)">
            Avg. Velo
          </th>
          <th scope="col" sortable="Changeup,0" (sort)="onSort($event)">
            Max. Velo
          </th>
          <th scope="col" sortable="Changeup,1" (sort)="onSort($event)">
            Avg. Velo
          </th>
          <th scope="col" sortable="Slider,0" (sort)="onSort($event)">
            Max. Velo
          </th>
          <th scope="col" sortable="Slider,1" (sort)="onSort($event)">
            Avg. Velo
          </th>
          <th scope="col" sortable="Curveball,0" (sort)="onSort($event)">
            Max. Velo
          </th>
          <th scope="col" sortable="Curveball,1" (sort)="onSort($event)">
            Avg. Velo
          </th>
          <th scope="col" sortable="Cut Fastball,0" (sort)="onSort($event)">
            Max. Velo
          </th>
          <th scope="col" sortable="Cut Fastball,1" (sort)="onSort($event)">
            Avg. Velo
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let session of sessions; let i = index">
          <td>{{ session.date | muDate }}</td>
          <td>
            <button
              class="btn btn-primary"
              routerLink="/session/{{ currentPitcher.id }}/{{
                session.idSession
              }}"
            >
              Session
            </button>
          </td>
          <td>
            {{ session["PT"]["4 Seam Fastball"][0] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["4 Seam Fastball"][1] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["2 Seam Fastball"][0] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["2 Seam Fastball"][1] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Changeup"][0] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Changeup"][1] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Slider"][0] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Slider"][1] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Curveball"][0] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Curveball"][1] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Cut Fastball"][0] | number: "1.1-1" }}
          </td>
          <td>
            {{ session["PT"]["Cut Fastball"][1] | number: "1.1-1" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <app-session-charts></app-session-charts>
</div>

<div
  class="modal fade"
  id="filterModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="filterModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Filter Pitches</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngb-datepicker
          #dp
          (dateSelect)="onDateSelection($event)"
          [displayMonths]="2"
          [dayTemplate]="t"
          outsideDays="hidden"
        >
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
        <div class="pitch-types" id="pitch-type">
          <div>
            <input type="checkbox" id="monday" [(ngModel)]="daysOfWeekBox[1]" />
            <label for="monday">Monday</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="tuesday"
              [(ngModel)]="daysOfWeekBox[2]"
            />
            <label for="tuesday">Tuesday</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="wednesday"
              [(ngModel)]="daysOfWeekBox[3]"
            />
            <label for="wednesday">Wednesday</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="thursday"
              [(ngModel)]="daysOfWeekBox[4]"
            />
            <label for="thursday">Thursday</label>
          </div>
          <div>
            <input type="checkbox" id="friday" [(ngModel)]="daysOfWeekBox[5]" />
            <label for="friday">Friday</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="saturday"
              [(ngModel)]="daysOfWeekBox[6]"
            />
            <label for="saturday">Saturday</label>
          </div>
          <div>
            <input type="checkbox" id="sunday" [(ngModel)]="daysOfWeekBox[7]" />
            <label for="sunday">Sunday</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="filterDate()"
        >
          Filter
        </button>
      </div>
    </div>
  </div>
</div>
