<app-navbar></app-navbar>
<h2>Administration Panel</h2>

<div class="container">
    <div class="col-md-2" style="margin-bottom: 10px;">
        <button class="btn btn-primary" routerLink="/">
            Run Scrape
        </button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Date Ran</th>
                <th>Number of Pitches Added</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs">
                <td>{{ log.cur_date | muDate }}</td>
                <td>{{ log.num_records }}</td>
            </tr>
        </tbody>
    </table>
</div>