.container {
  margin-top: 50px;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #0a2952;
  h1 {
    margin-left: 1vw;
    margin-top: 5vh;
    color: white;
  }
}

.header {
  text-align: center;
  font-size: 3rem;
}
