.container {
  margin-top: 2vh;
  // margin: 10vw;
  // margin-right: 5vw;
  // margin-left: 5vw;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #0a2952;
  h1 {
    margin-left: 1vw;
    margin-top: 5vh;
    color: white;
  }
}

button {
  background: none;
  border: none;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  right: 6vw;
  margin-top: 8vh;
  color: white;
}
.header {
  text-align: center;
  font-size: 3rem;
}

.c-img {
  width: 130%;
  height: 80vh;
}

p {
  // margin-top: 
  text-align: center;
  font-size: 1.5rem;
  // margin-bottom: 3vh;
}