.container {
  margin-top: 50px;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #0a2952;
  h1 {
    margin-left: 1vw;
    margin-top: 5vh;
    color: black;
  }
}

.header {
  text-align: center;
  font-size: 3rem;
}
::placeholder {
  color: lightgray;
}
.login-box {
  width: 60%;
  margin: 0 auto;
  margin-top: 15vh;

  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .inputs {
    input {
      background: none;
      margin-bottom: 15px;
      border: none;
      border-bottom: 1px solid black;
      color: black;
      &:focus {
        transition: border-bottom 0.25s ease;
        outline: none;
        border-bottom: black 1px solid;
      }
    }
    font-size: 1.3rem;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  .options {
    display: flex;
    justify-content: space-around;
    .remember {
      display: flex;
      input {
        margin-top: 5px;
        margin-right: 10px;
      }
    }

    .login-btn {
      width: 20%;
      color: black;
      border-radius: 15px;
      padding: 5px;
      margin: 0 auto;
      margin-left: 18vw;
      border: 0.5px solid black;
      background-color: white;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
