<div class="row mt-5">
  <div class="col-md-6">
    <h5 class="text-center">Vertical Break VS Horizontal Break</h5>
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="movementChartData"
          [options]="movementChartOptions"
          [chartType]="scatterChartType"
        >
        </canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h5 class="text-center">Vertical Break VS Horizontal Break (Avg)</h5>
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="movementAvgChartData"
          [options]="movementChartOptions"
          [chartType]="scatterChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
