<app-navbar></app-navbar>
<h1>Hello {{ curUser.givenName }}</h1>
<h2>Team Stats</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">CH Max. Velo</th>
      <th scope="col">CH Avg. Velo</th>
      <th scope="col">FB Max. Velo</th>
      <th scope="col">FB Avg. Velo</th>
      <th scope="col">CU Max. Velo</th>
      <th scope="col">CU Avg. Velo</th>
      <th scope="col">SL Max. Velo</th>
      <th scope="col">SL Avg. Velo</th>
      <th>Sessions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Joe Smith</td>
      <td>89</td>
      <td>82</td>
      <td>89</td>
      <td>82</td>
      <td>89</td>
      <td>82</td>
      <td>89</td>
      <td>82</td>
      <td><button class="btn btn-primary">Sessions</button></td>
    </tr>
  </tbody>
</table>
